#school {
  width: 300px;
  border-style: dotted solid double;
  border-color: red;
  border-width: 10px;
  border-radius: 25% 10%;
  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
  padding-right: 1cm;
  margin-top: 10vw;
  margin-bottom: 10em;
  margin-right: 150px;
  margin-left: 80px;
}

nav {
 margin: 25px 25px 100px 100px; 
 padding: 10px 10px 10px 10px;
 height: auto;
 display: inline;
}

.likes {
  color: #FFF;
  display: block;
}

main, header {
  font-family: 'Yusei Magic', sans-serif;
  margin: auto;
  position: static;
}

div > p {
  color: hsl(104, 45%, 22%);
  text-decoration: underline;
  text-align: left;
  position: relative;
  right: 10px;
}

ul ~ li {
  color: hsla(120,100%,50%,0.3);
}

p.likes {
  background-color: red;
}

a:hover {
  color: blue;
}

label + * {
  style: inline;
}

*:active {
   color: green;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
